.filter-section {
    display: grid;
    grid-template-columns: repeat(3, 32.5%);
    gap: 20px;
    background: #80808029;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 49.2%);
    } 
    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 99.2%);
    }
    .input {
        display: grid;
        grid-template-columns: repeat(1, 99.2%);
        gap: 10px;
    }
    .field {
        padding: 13px 13px;
        border: 1px solid #607D8B;
        border-radius: 5px;
        font-size: 16px;
    }
    .btn-group {
        display: flex;
        justify-content: space-around;
        align-items: end;
    }
    .button {
        padding: 17px 40px;
        color: white;
        border: unset;
        border-radius: 10px;
        cursor: pointer;
    }
    .warm {
        background-color: #ff9800;
    }
    .success {
        background-color: #4caf50;
    }
}