.header {
    padding: 0 40px;
    display: flex;
    align-items: center;
    gap: 15rem;
    @media (max-width: 768px) {
        gap: 5rem;
    }
}

.logo {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    color: #607d8b;
    @media (max-width: 768px) {
        font-size: 30px;
    }
}

.menu {
    display: flex;
    gap: 2rem;
    cursor: pointer;
}