// Extra small (xs) - <576px
// Small (sm) - ≥576px
// Medium (md) - ≥768px
// Large (lg) - ≥992px
// Extra large (xl) - ≥1200px
// Extra extra large (xxl) - ≥1400px


.container {
    padding: 0 40px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 32.5%);
    gap: 20px;
    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 49.1%);
    }  
    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 99.2%);
    }
}

.card {
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 17%);
    padding: 15px;
    border-radius: 5px;
}

.card-img {
    width: 100%;
    max-height: 20rem;
    height: auto;
    object-fit: cover;
}

.card-title {
    padding: 10px 0;
    font-weight: bold;
    font-size: 22px;
}

.card-desc {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.pub-author {
    padding: 20px 0 0;
    color: rgb(84, 86, 88);
    font-size: 14px;
    .c-h-1 {
        font-weight: 600;
    }
}

.result-filter {
    padding: 0 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-result {
    font-weight: bold;
}

.filter-btn {
    background: #607D8B;
    color: white;
    padding: 6px 11px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}