.container {
    padding: 0 40px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    width: 400px;
    flex-basis: calc(33.333% - 10px);
    box-sizing: border-box;
    margin-bottom: 20px;
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-title {
    padding: 10px 0;
    font-weight: bold;
    font-size: 22px;
}

.pub-author {
    padding: 20px 0 0;
    color: rgb(84, 86, 88);
    font-size: 14px;
    .c-h-1 {
        font-weight: 600;
    }
}

.result-filter {
    padding: 0 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-result {
    font-weight: bold;
}

.filter-btn {
    background: #607D8B;
    color: white;
    padding: 6px 11px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}